{% extends "base.html" %}
{% load static %}

{% block title%} Online edu {% endblock %}

{% block headcrack %}

{% endblock %}

{% block maincontent %}
<!-- banner -->
  <div class='container' align='center'>
    <ul>
      {% for course in allcourses%}
        <ul><a href="/course/{{course.coursecode}}">{{course.name}}</a></ul>
      {%endfor%}

    </ul>
  </div>
  <p> ed</p>
  <div class="courses_banner">
  	<div class="container">
  		<h3>Courses</h3>
  		<p class="description">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
        </p>
        <div class="breadcrumb1">
            <ul>
                <li class="icon6"><a href="index.html">Home</a></li>
                <li class="current-page">Courses</li>
            </ul>
        </div>
  	</div>
   </div>
    <!-- //banner -->
	<div class="courses_box1">
	   <div class="container">
	   	  <div class="col-md-3">
			<div class="courses_box1-left">
                <form>
                 <div class="select-block1">
                    <select>
                        <option value="">Discipline</option>
                        <option value="">Discipline</option>
                        <option value="">Discipline</option>
                        <option value="">Discipline</option>
                        <option value="">Discipline</option>
                    </select>
                 </div>
                <!-- select-block -->
                 <div class="select-block1">
                    <select>
                        <option value="">Duration</option>
                        <option value="">Duration</option>
                        <option value="">Duration</option>
                        <option value="">Duration</option>
                        <option value="">Duration</option>
                    </select>
                </div>
                <!-- select-block -->
                <div class="select-block1">
                    <select>
                        <option value="">Level</option>
                        <option value="">Level</option>
                        <option value="">Level</option>
                        <option value="">Level</option>
                        <option value="">Level</option>
                    </select>
                </div>
                <!-- select-block -->
                <div class="select-block1">
                    <select>
                        <option value="">Location</option>
                        <option value="">Location</option>
                        <option value="">Location</option>
                        <option value="">Location</option>
                        <option value="">Location</option>
                    </select>
                </div>
                <!-- select-block -->
                <input type="submit" value="search" class="course-submit">
            </form>
	       </div>
	       <div class="personBox">
              <div class="personBox_1">
                 <div class="person_image">
                      <img src="{% static 'webdev/images/t13.png' %}" class="img-responsive" alt=""/>
                 </div>
                 <div class="person_image_desc">
                   <h1>Lorem Ipsum</h1>
                   <p>Tempor Incididunt</p>
                </div>
                <div class="clearfix"> </div>
             </div>
             <div class="person_description">
                <p>
                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble <a href="#">More..</a>
                </p>
             </div>
          </div>
          <div class="social-widget">
          	<h2>Connect with us</h2>
          	  <ul class="courses_social">
				<li class="facebook-icon">
					<div>
						<a href="#" class="fa fa-facebook"></a>
						<p>2154</p>
					</div>
				</li>
				<li class="twitter-icon">
					<div>
						<a href="#" class="fa fa-twitter"></a>
						<p>1425</p>
					</div>
				</li>
				<li class="gplus-icon">
					<div>
						<a href="#" class="fa fa-google-plus"></a>
						<p>2150</p>
					</div>
				</li>
				<div class="clearfix"> </div>
			 </ul>
           </div>
           <section class="slider jay">
            	<h3>Testimonial</h3>
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="banner-info1">
							   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat quis nostrud.</p>
							   <h5><a href="#">Laoreet ,</a>Dateratr since 2015</h5>
							</div>
						</li>
						<li>
							<div class="banner-info1">
							   <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, content of a page.</p>
							   <h5><a href="#">Distracted ,</a>Dateratr since 2015</h5>
							</div>
						</li>
						<li>
							<div class="banner-info1">
							   <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of usin but the majority.</p>
							   <h5><a href="#">Suffered ,</a>Dateratr since 2015</h5>
							</div>
						</li>
				    </ul>
				 </div>
	      </section>
	      <ul class="posts">
	      	<h3>Recent Posts</h3>
			<li>
				<article class="entry-item">
					<div class="entry-thumb pull-left">
						<img src="{% static 'webdev/images/t17.jpg' %}" class="img-responsive" alt=""/>
					</div>
					<div class="entry-content">
						<h6><a href="#">Established</a></h6>
						<p><a href="#">Admin</a> &nbsp;/&nbsp; 30 Dec 2015</p>
					</div>
					<div class="clearfix"> </div>
				</article>
			</li>
			<li>
				<article class="entry-item">
					<div class="entry-thumb pull-left">
						<img src="{% static 'webdev/images/t7.jpg' %}" class="img-responsive" alt=""/>
					</div>
					<div class="entry-content">
						<h6><a href="#">Established</a></h6>
						<p><a href="#">Admin</a> &nbsp;/&nbsp; 30 Dec 2015</p>
					</div>
					<div class="clearfix"> </div>
				</article>
			</li>
			<li>
				<article class="entry-item">
					<div class="entry-thumb pull-left">
						<img src="{% static 'webdev/t16.jpg '%}" class="img-responsive" alt=""/>
					</div>
					<div class="entry-content">
						<h6><a href="#">Established</a></h6>
						<p><a href="#">Admin</a> &nbsp;/&nbsp; 30 Dec 2015</p>
					</div>
					<div class="clearfix"> </div>
				</article>
		    </li>
         </ul>
		</div>
		<div class="col-md-9">
			<div class="course_list">
                <div class="table-header clearfix">
                	<div class="id_col">ID</div>
                	<div class="name_col">Course Name</div>
                    <div class="duration_col">Duration</div>
                    <div class="date_col">Start Date</div>
    			</div>
                <ul class="table-list">
                    <li class="clearfix">
    					<div class="id_col">PA - 001</div>

        				<div class="name_col"><a href="course_detail.html">Pre & Primary Teachers Training</a></div>

        				<div class="duration_col">9 Months</div>

        				<div class="date_col">Fri, Dec 25 - 2015</div>
    				</li>

    				<li class="clearfix">
    					<div class="id_col">EA - 002</div>

        				<div class="name_col"><a href="course_detail.html">Educational Administration & Management </a></div>

        				<div class="duration_col">5 Months</div>

        				<div class="date_col">Mon, Nov 14 - 2015</div>
    				</li>

    				<li class="clearfix">
    					<div class="id_col">AC - 101</div>

        				<div class="name_col"><a href="course_detail.html">Certificate in Special Education</a></div>

        				<div class="duration_col">5 Months</div>

        				<div class="date_col">Fri, Dec 25 - 2015</div>
    				</li>

    				<li class="clearfix">
    					<div class="id_col">MA - 002</div>

        				<div class="name_col"><a href="course_detail.html">Modular Courses</a></div>

        				<div class="duration_col">4 Months</div>

        				<div class="date_col">Sat, Dec 04 - 2015</div>
    				</li>

    				<li class="clearfix">
    					<div class="id_col">AC - 101</div>

        				<div class="name_col"><a href="course_detail.html">Accounting Standards</a></div>

        				<div class="duration_col">20 weeks</div>

        				<div class="date_col">Wed, Nov 12 - 2016</div>
    				</li>

    				<li class="clearfix">
    					<div class="id_col">IA - 002</div>

        				<div class="name_col"><a href="course_detail.html">International Law</a></div>

        				<div class="duration_col">20 weeks</div>

        				<div class="date_col">Sat, Dec 02 - 2015</div>
    				</li>

    				<li class="clearfix">
    					<div class="id_col">AC - 101</div>

        				<div class="name_col"><a href="course_detail.html">Accounting Standards</a></div>

        				<div class="duration_col">20 weeks</div>

        				<div class="date_col">Sat, Dec 08 - 2015</div>
    				</li>

    				<li class="clearfix">
    					<div class="id_col">TA - 002</div>

        				<div class="name_col"><a href="course_detail.html">Tax Compliance</a></div>

        				<div class="duration_col">20 weeks</div>

        				<div class="date_col">Mon, Dec 14 - 2015</div>
    				</li>
    				 <li class="clearfix">
    					<div class="id_col">PA - 001</div>

        				<div class="name_col"><a href="course_detail.html">Pre & Primary Teachers Training</a></div>

        				<div class="duration_col">9 Months</div>

        				<div class="date_col">Fri, Dec 25 - 2015</div>
    				</li>
    				 <li class="clearfix">
    					<div class="id_col">PA - 001</div>

        				<div class="name_col"><a href="course_detail.html">Pre & Primary Teachers Training</a></div>

        				<div class="duration_col">9 Months</div>

        				<div class="date_col">Fri, Dec 25 - 2015</div>
    				</li>
    				 <li class="clearfix">
    					<div class="id_col">PA - 001</div>

        				<div class="name_col"><a href="course_detail.html">Pre & Primary Teachers Training</a></div>

        				<div class="duration_col">9 Months</div>

        				<div class="date_col">Fri, Dec 25 - 2015</div>
    				</li>
    				 <li class="clearfix">
    					<div class="id_col">PA - 001</div>

        				<div class="name_col"><a href="course_detail.html">Pre & Primary Teachers Training</a></div>

        				<div class="duration_col">9 Months</div>

        				<div class="date_col">Fri, Dec 25 - 2015</div>
    				</li>
    				 <li class="clearfix">
    					<div class="id_col">PA - 001</div>

        				<div class="name_col"><a href="course_detail.html">Pre & Primary Teachers Training</a></div>

        				<div class="duration_col">9 Months</div>

        				<div class="date_col">Fri, Dec 25 - 2015</div>
    				</li>
    				 <li class="clearfix">
    					<div class="id_col">PA - 001</div>

        				<div class="name_col"><a href="course_detail.html">Pre & Primary Teachers Training</a></div>

        				<div class="duration_col">9 Months</div>

        				<div class="date_col">Fri, Dec 25 - 2015</div>
    				</li>
    				 <li class="clearfix">
    					<div class="id_col">PA - 001</div>

        				<div class="name_col"><a href="course_detail.html">Pre & Primary Teachers Training</a></div>

        				<div class="duration_col">9 Months</div>

        				<div class="date_col">Fri, Dec 25 - 2015</div>
    				</li>
    				 <li class="clearfix">
    					<div class="id_col">PA - 001</div>

        				<div class="name_col"><a href="course_detail.html">Pre & Primary Teachers Training</a></div>

        				<div class="duration_col">9 Months</div>

        				<div class="date_col">Fri, Dec 25 - 2015</div>
    				</li>
    				 <li class="clearfix">
    					<div class="id_col">PA - 001</div>

        				<div class="name_col"><a href="course_detail.html">Pre & Primary Teachers Training</a></div>

        				<div class="duration_col">9 Months</div>

        				<div class="date_col">Fri, Dec 25 - 2015</div>
    				</li>
    				 <li class="clearfix">
    					<div class="id_col">PA - 001</div>

        				<div class="name_col"><a href="course_detail.html">Pre & Primary Teachers Training</a></div>

        				<div class="duration_col">9 Months</div>

        				<div class="date_col">Fri, Dec 25 - 2015</div>
    				</li>
    			</ul>
               </div>
		    </div>
		    <div class="clearfix"> </div>
	   </div>
	</div>

  <link href="{% static 'webdev/flexslider.css' %}" rel='stylesheet' type='text/css' />
  <script defer src="{% static 'webdev/jquery.flexslider.js' %}"></script>
  <script type="text/javascript">
	$(function(){
	  SyntaxHighlighter.all();
	});
	$(window).load(function(){
	  $('.flexslider').flexslider({
		animation: "slide",
		start: function(slider){
		  $('body').removeClass('loading');
		}
	  });
	});
  </script>
{% endblock %}
